{% extends '../../layout.html' %}

{% block meta %}
{% endblock %}

{% block content %}
<main role="main">
    {% if (error && error.length > 0) %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {% endif %}
    <h2>Create a new post</h2>
    <hr>
    <form class="form" action="/admin/blog/post" method="POST">
      <div class="form-group" >
        <label for="title">Title</label>
        <input id="title" class="form-control" type="text" name="title" size="80" 
          required data-required-msg='Post title is required'><br>
      </div>
      <div class="form-group" >
        <label for="description">Description</label>
        <textarea id="description" class="form-control" name="description" rows="2" 
          required data-required-msg='Post description is required'></textarea>
      </div>
      <div class="form-group" >
        <label for="sr-text-input">Post Markdown Content</label>
        <button id="sr-previewBtn" type="button" class="btn btn-primary"
          onclick="xiaoBlog.previewMarkdown('sr-text-input', 'sr-preview', 'sr-previewBtn');">Preview</button>
        <div id="sr-preview" ></div>
        <textarea id="sr-text-input" class="form-control" rows="20" name="content"
          required data-required-msg="Post markdown content is required">Type **Markdown** here.</textarea>
      </div>
      <div class="form-group" >
        <label for="sr-tags">Tags, comma separated (tag1, tag2, tag3, ...)</label>
        <input id="sr-tags" class="form-control" type="text" name="tags" size="80">
      </div>
      <label for="name">Publish Post</label>
      <div>
        <label class="radio-inline"><input type="radio" name="published" value="false" checked>No</label>
        <label class="radio-inline"><input type="radio" name="published" value="true">Yes</label>
      </div>
      <input id="hiddenUploads" type="hidden" name="uploadedFiles"> 
      <br>
      <button class="btn btn-primary" type="submit">Create Post</button>
    </form>
    <br>
    <form id="jsonForm" action="/admin/uploads", method="post", enctype="multipart/form-data">
        <h4>Upload an image for the post</h4>
        <input id="uploadFile" name="uploadFile" type="file" class="hidden">
        <div class="input-group">
          <input id="visibleFile" class="form-control" type="text">
          <span class="input-group-btn">
          <button class="btn btn-primary" type="button" onclick="$('input[id=uploadFile]').click();">Browse</button>
        </span>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
        <br>
        <h4 id="uploadHeader" class="hidden">Uploaded Files</h4>
        <ul id="uploadList">
        </ul>
    </form>
    <br/>
</main>
{% endblock %}
{% block sidebar %}{% include '../../tagcloud-sidebar.html' %}{% endblock %}
{% block admin-sidebar %}{% include '../admin-sidebar.html' %}{% endblock %}

{% block lastjs %}
<script src="/js/marked.min.js"></script>
<script src="/js/xiaoblog.min.js"></script>
<script>
  $(document).ready(function() { 
      xiaoBlog.initXhr("jsonForm", "uploadList", "uploadHeader", "hiddenUploads");
      xiaoBlog.captureHiddenFile("uploadFile", "visibleFile");
      marked.setOptions({
        // callback for code highlighter
        highlight: function(code, lang) {
          return hljs.highlightAuto(code).value;
        }
      });
 });
</script>
{% endblock %}
