<section>
  <p>{{blog.description}}</p>
</section>
<nav>
  <hr class="sr-nav-black">
  <a {% if userFullName  %} href="/admin" {% else  %} href="/" {% endif %} class="active-menu">
    <span class="fa-stack fa-2x">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-home fa-stack-1x"></i>
    </span> 
    Home
  </a>
  <hr class="sr-nav-black">
  <a  href="/">
    <span class="fa-stack fa-2x">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-male fa-stack-1x"></i>
    </span> 
    About
  </a>
  <hr class="sr-nav-black">
  <a  href="/">
    <span class="fa-stack fa-2x">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-gears fa-stack-1x"></i>
    </span> 
    Projects
  </a>
  <hr class="sr-nav-black">
  {% if userFullName  %}
  <a  href="/admin/posts">
    <span class="fa-stack fa-2x">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-file-o fa-stack-1x"></i>
    </span> 
   Add New Post 
  </a>
  <hr class="sr-nav-black">
  <a  href="/admin/signout">
    <span class="fa-stack fa-2x">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-sign-out fa-stack-1x"></i>
    </span> 
    Sign out
  </a>
  <hr class="sr-nav-black">
  {% else %}
  <a  href="/admin/signin">
    <span class="fa-stack fa-2x">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-sign-in fa-stack-1x"></i>
    </span> 
    Sign in
  </a>
  <hr class="sr-nav-black">
  <a  href="/admin/signup">
    <span class="fa-stack fa-2x">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-users fa-stack-1x"></i>
    </span> 
    Sign up
  </a>
  <hr class="sr-nav-black">
  {% endif %}
</nav>  
