<!-- Open Graph Meta Tags -->
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{blog.title}}"/>
<meta property="og:description" content="{{blog.description}}"/>
<meta property="og:site_name" content="{{blog.title}}"/>
<meta property="og:url" content="{{blog.url}}"/>
<meta property="og:image" content="{{blog.url}}{{blog.logo}}"/>
<meta property="fb:app_id" content="FB_APP_ID"/>

{# Page Meta #}
<title>{{blog.title}}</title>
<meta name="description" content="{{blog.description}}" />
<!-- For successful FB crawler canonical url and og:url need to be the same -->
<link rel="canonical" href="{{blog.url}}" />
