
<main>
{% for post in posts %}
<section>
  <h3 class="sr-title"><a href="/posts/{{post.slug}}" rel="bookmark">{{post.title}}</a></h3>
  <p>
  <i class="fa fa-tags"></i> Tags: 
  {% for tag in post.tags | sort %}
  <a class="sr-tags" href="/posts/tags/{{tag}}"><span class="badge badge-info">{{tag | upper}}</span></a> 
  {% endfor %}
  </p>
  <p>
  <time datetime="{{post.created | date('Y-m-d')}}" >
    <i class="fa fa-calendar"><small></i> Posted on {{post.created | date('D F, j Y')}}</small>
  </time>
  </p>
  <p>
  {{post.excerpt}}
  </p>
  <hr class="sr-posts">
</section>
{% endfor %}
</main>
<nav>
  <ul class="pager pull-left">
    <li {% if prevPage <= 0 %}class="disabled"{% endif %}><a href="/?page={{prevPage}}&greaterThanTime={{greaterThanTime}}">&larr; Previous</a></li>
    <li {% if nextPage <= 0 %}class="disabled"{% endif %}><a href="/?page={{nextPage}}&lessThanTime={{lessThanTime}}">Next &rarr;</a></li>
  </ul>    
</nav>
