<!-- Open Graph Meta Tags -->
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{post.title}}"/>
<meta property="og:description" content="{{post.description}}"/>
<meta property="og:site_name" content="{{blog.title}}"/>
<meta property="og:url" content="{{blog.url}}/posts/{{post.slug}}"/>
<meta property="og:image" content="{{blog.url}}{{post.coverImage}}"/>
<meta property="fb:app_id" content="FB APP_ID"/>


{# Page Meta #}
<title>{{post.title}}</title>
<meta name="description" content="{{post.description}}" />
<!-- For successful FB crawler canonical url and og:url need to be the same -->
<link rel="canonical" href="{{blog.url}}/posts/{{post.slug}}" />
